/* solapa de adopcion en las fotos */
.main__card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; 
    padding:20px;
}
.card__dog{
    height: 450px;
}
/* Boton de contacto en adopcion */
.main__contact{
    font-size: 20px;
    font-weight: bold;
    color:rgb(15, 131, 131);
}