/*MAIN*/
    main{
    /*GENERAL*/
    /* Color, opacidad e interlineado del contenido */
        line-height: 2; 
        background-color:#ffffff;
        opacity: 0.88; 
        /* FLEXBOX */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom:20px;
    }
    /* Disposicion, tamaño y color de la tipografia */
    h1{ 
        color:$primary_color;
        font-size: $h1_desktop;
        background-position:center;
        margin-top: 20px;
    }
    .margin_des{
        margin: 0 5%;
    }
    h2{
        @extend .margin_des;
        color:$fourth_color;
        font-size: $h2_desktop;
        line-height: 1.5;
        text-align: left;
        background-position:left;
    }
    .tittle_des{
        color: $secondary_color;
        font-size: $h3_desktop;
    }
    h3{
        @extend .margin_des;
        @extend .tittle_des;
        line-height: 2;
    }
    h4{
        @extend .margin_des;
        @extend .tittle_des;
    }
    h5{
        font-size: $h5_desktop;
        color:$primary_color;
    }
    p{
        color:$fourth_color;
        font-size: $p_desktop;
        margin: 0 10% 1% 10%;
        line-height: 2;
        text-align: justify;
    }
    .main__p{
        margin-bottom: 4px;
        padding: 10px 0px;
    }
    /* Tamaño de la letra para rellenar en los formulario */
    input{
        font-size: 15+3px;
    }
    /* Items */
    .main__item li {
        margin-left: 5%;
        margin-right: 5%;
        font-size: $p_desktop;
        list-style-type: circle;
    }

    /*INDEX*/
    /* Imagen y formato - carrousel */
    .main__img{
        height: 500px;
        width: 50%;
        object-fit: cover;
        border-radius: 30px;
        margin: 15px 0px;
    }
    .main__index{
        width: 38+2%;
    }
    /* Formulario */
    .form-index{
        margin:20px 0px;
    }
    /*ADOPCION*/
    /* Tamaño y efecto de foto */
    .main__adop{
        height: 300px;
        object-fit: cover;
        border-radius: 10%;
    }
    .button__contact{
        transition:all 0.4s ease;
        &:hover{
            background-color: #f08080;
            transform: scale(1.2,1.2);
            transition:all 0.4s ease;  
        }
    }

    /*DONACION*/
    /* Información del banco */
    .main__bank{
        margin:0% 20%;
        li{
            border: 2px solid $secondary_color;
            color:$fourth_color;
            box-shadow: 2px 1px 3px 3px #f08080;
            border-radius: 15px;
            justify-content: center;
            text-align: center;
            margin: 30px 10px;
            padding: 0px 10px;
            list-style-type:none;
        }
    }

    /*CONTACTO*/
    /* Tamaño de letra en comentario */
    #commentLyrics{
        font-size: 18+2px;
    }
    /* Tamaño de letra en la barra de asunto */
    #affair{
        font-size: 9*2px;
    }
    /* Margen y tipo de texto */
    form{
        margin: 0 10%;
        text-align: center;
    }
    
    /*VISITA*/
    @mixin sizes($width, $height) {
        height: $height;
        width: $width;
    }
    /* Tamaño del mapa*/
    .main__map{
        @include sizes(600px, 450px);
        padding: 10px 0px;
    }

/*MOBILE*/
    @media screen and (max-width:768px) {
        /*GENERAL*/
        /* Centrar la informacion */
        main{
           margin: 0% 5%;
           padding-bottom:5px;
        }
        /* Disposicion, tamaño y color de la tipografia */
        h1{
            font-size: $h1_mobile;
            margin-top: 5px;
        }
        .margin_mob{
            margin: 0px 25px;
        }
        h2{
            @extend .margin_mob;
            font-size: $h2_mobile;
        }
        .tittle_mob{
            color: $secondary_color;
        }
        h3{
            @extend .margin_mob;
            @extend .tittle_mob;
            font-size: $h3_mobile;
        }
        h4{
            @extend .tittle_mob;
            font-size: $h4_mobile;
        }
        h5{
            font-size: $h5_mobile;
        }
        p{
            font-size: $p_mobile;
        }
        .main__p{
            text-align:center;
            margin: 0px 10px;
            line-height: 1.5;
        }
        /* Tamaño de la letra para rellenar en los formulario */
        input{
            font-size:  7*2px;
        }
        /* Disposición de los botones */
        button{
            margin-top: 5px;
            margin-bottom: 10px;
        }
        /* Items */
        .main__item li {
            font-size: $p_mobile;
        }


        /*INDEX*/
        /* Imagen y formato - carrousel */
        .main__img{
            height: 310px;
            border-radius: 40px;
            object-fit: cover;
            margin: 0px;
            }
        .main__index{
             width: 7*10%;
        }
        /* formulario */
        .form-index{
            margin:10px 0px;
        }

        /*ADOPCION*/
        /* Tamaño y efecto de foto */
        .main__adop{
            height: 17*10px;
            object-fit: cover;
            border-radius: 10%;
        }    
    
        /*DONACION*/
        /* Información del banco */
        .main__bank{
            margin: 0% 10%;
            padding-left: 2%;
            li{
                padding-left: 2%;
                margin: 7% 0%; 
            }
            ul{
                padding:0%;
                margin:0%;
            }
        }     
    
        /*CONTACTO*/
        /* Tamaño de letra en comentario */
        #commentLyrics{
            font-size: 7*2px;
        }  
        /* Tamaño de letra en la barra de asunto */
        #affair{
            font-size: 7*2px;
        }
        /* Tamaño del cuadro de comentario */
        textarea{
            width: 280+5px;
        }
        /* margen de email*/
        .email{
            padding-bottom: 15px;
            padding-top: 20px;
        }
    
        /*VISITA*/
        /* Tamaño del mapa */
        .main__map{
            @include sizes(280px, 250px);
        } 
    }