
/*Titulos*/
$h1_desktop: 50px;
$h2_desktop: 25px;
$h3_desktop: 24px;
$h4_desktop: 20px;
$h5_desktop: 30px;
/*Parrafos e Items*/
$p_desktop:20px;

/*Titulos*/
$h1_mobile:22px;
$h2_mobile:17px;
$h3_mobile:16px;
$h4_mobile:15px;
$h5_mobile:20px;
/*Parrafos e Items*/
$p_mobile:14px;

